/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.slogan {
	font-size: 1.5em;
}

h1{
	font-size: 2em;
}

h1 span{
	font-size: 1em;
}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

.rcontact{
	font-size: 20px;
}
}
}